
<h1>Here is a particular user's workout.</h1>
<br>
</br>

<h2><%= @workout.name %></h2>
<br>
<p><b>Date:</b> <%= @workout.date %></p>
<p><b>Number of reps/laps:</b> <%= @workout.numberofreps %></p>
<p><b>Duration/Minutes:</b> <%= @workout.duration %></p>
<br>
<p><b>Added by:<b> <%= @workout.user.user_name %><p>
</br>

 <% if @workout.user_id == current_user.id %>

<form action="/work_outs/<%= @workout.id %>/edit" method="PATCH">
  <input type="hidden" id="hidden" name="_method" value="EDIT"/>
  <input type="submit" value="Edit Workout">
</form>
<form action="/work_outs/<%= @workout.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="Delete Workout">
</form>
<br>
</br>
<%end%>
<a href="/homepage">View All Workouts</a>
